* {
    background-color: #73778a;
    color: white;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #414158;
    float: left;
    border: 1px solid black;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Main content styles */
.content {
    margin-left: 200px;
    padding: 20px;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}