<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <div class="sidebar">
        <!-- Sidebar content goes here -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="cells">Add cells</a></li>
            <li><a href="#">Assign cells</a></li>
        </ul>
    </div>
    
    <div class="content">
        <!-- Main content goes here -->
        <h1>OGP Battery stuuffff</h1>
        <p>Cells in stock:</p>
        <p>Batteries in stock:</p>
        <p>Assigned batteries:</p>
        <p>Battery build capacity:</p>
    </div>
</body>
</html>
