<!DOCTYPE html>
<html>
<head>
    <title>Cell Scanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/styles/style.css') }}"></head>
<body>
    <div class="main">
        <h1>Scan Cell {{ cell_number }}</h1>
        <div class="info">
            <form action="/endpoint" method="post" autocomplete="off">
                <label for="textEntry">Cell serial:</label>
                <input type="text" id="textEntry" name="textEntry" autofocus>
                <input type="submit" value="Submit">
            </form>
            <p></p>
            <button onclick="window.location.href='/'">Main menu</button>
        </div>
    </div>
</body>
</html>